{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}
{% block content %}

<div class="row">
	<div class="col-md-7">
	<form action="{{ path('kulashare_product_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal" >
	 <fieldset class="well">
		{{ form_errors(form) }}
		

		{{ form_row(form.masterVariant.sku), { 'attr': {'type': 'hidden'} } }}
		{{ form_row(form.masterVariant.price) }}
		{#{{ form_row(form.masterVariant.pricingCalculator) }}#}
		{{ form_row(form.masterVariant.onHand) }}

		{{ form_row(form.translations, {'attr': {'class': 'input-lg'}}) }}

<div class="form-group">
            <label class="col-lg-2 control-label required">Categories</label>
        </div>
		{% for child in form.taxons %}
		  {{ form_row(child) }}
		{% endfor %}

		
<!--
		<div class="form-group">
            <label class="col-lg-2 control-label required">Status</label>
        </div> -->
            {#
            {#for type in form.status#}
                {# form_row(type) #}
            {#endfor #}
            #}
		

		{{ form_row(form.typeRental) }}

		{{ form_row(form.latitud) }}

		{{ form_row(form.longitud) }}

		{% macro imagePrototype() %}
<div class="sylius-assortment-product-images-image row" id="sylius_product_masterVariant_images___name__">
    <div class="col-md-1">
        <span class="thumbnail"></span>
    </div>
    <div class="col-md-9">
        <span class="btn-primary btn-lg file-overlay"><i class="glyphicon glyphicon-folder-open"></i> {{ 'sylius.form.choose_file'|trans }}</span>
        <input type="file" class="form-control" required="required" name="sylius_product[masterVariant][images][__name__][file]" id="sylius_product_masterVariant_images___name___file">
    </div>
    <div class="col-md-2">
        <a href="#" class="btn btn-danger" data-collection-button="delete" data-collection="sylius-assortment-product-images" data-collection-item="image"><i class="glyphicon glyphicon-trash"></i>&nbsp;{{ 'sylius.variant.delete_image'|trans }}</a>
    </div>
</div>
{% endmacro %}

	<div id="sylius-assortment-product-images" data-toggle="modal-gallery" data-target="#modal-gallery" class="collection-container" data-prototype="{{ _self.imagePrototype()|e }}">
        {% for imageForm in form.masterVariant.images %}
        <div class="sylius-assortment-product-images-image row">
            <div class="col-md-1">
                {% if imageForm.vars.value.path|length > 0 %}
                <a href="{{ imageForm.vars.value.path|imagine_filter('sylius_large') }}" data-gallery="gallery">
                    <img class="img-rounded" src="{{ imageForm.vars.value.path|imagine_filter('sylius_small') }}" alt="" />
                </a>
                {% endif %}
            </div>
            <div class="col-md-9">
                {{ form_widget(imageForm.file) }}
            </div>
            <div class="col-md-2">
                <a href="#" class="btn btn-danger" data-collection-button="delete" data-collection="sylius-assortment-product-images" data-collection-item="image"><i class="glyphicon glyphicon-trash"></i>&nbsp;{{ 'sylius.variant.delete_image'|trans }}</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <hr>
    <a href="#" class="btn btn-primary btn-block" data-collection-button="add" data-prototype="sylius-assortment-product-images" data-collection="sylius-assortment-product-images">{{ 'sylius.variant.add_image'|trans }}</a>


		{{ form_widget(form._token) }}
 

		   </fieldset>
		
		<div class="form-actions clearfix">
        <button class="btn btn-success btn-lg" type="submit">
            <i class="icon-user"></i>
            Save
        </button>
    </div>
		 </form>
	</div>
</div>
{% endblock %}

