{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% from 'SyliusResourceBundle:Macros:actions.html.twig' import create %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts output='assets/compiled/backend_product.js'
	'bundles/syliusattribute/js/sylius-attribute.js'
	'bundles/syliusshipping/js/prototype-handler.js'
	'bundles/syliusweb/js/dynamic-property-types.js'
	'@A2lixTranslationFormBundle/Resources/public/js/a2lix_translation_bootstrap.js'
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block content %}
<div class="in-sec8">
	<div class="in-sec panel panel-default wrap-produc-new">

		<form action="{{ path('sylius_product_create', {'archetype': app.request.get('archetype')}) }}" method="post" class="form-horizontal" {{ form_enctype(form) }} novalidate>
			{% include 'KulashareProductBundle:Default:_form.html.twig' %}
			{{ create() }}
		</form>
	</div>
</div>
{% endblock %}

