{% extends 'SyliusWebBundle:Frontend/Account:layout.html.twig' %}

{% block content %}
    <!-- Region content -->

    <div class="container-fluid container-dashboard">
         
        <div class="row"><p class="bread">Home &gt; <span class="title-bread-blue">Dashboard</span></p></div>
        <div class="row">
                    <div class="col-sm-9" id="left-dashboard">
                        <div class="col-sm-6 col-md-4 item-dashboard" id="item-dashboard-1">
                            <div class="title-item-dashboard">
                                <h3>Transactions</h3>
                            </div>
                            <div class="content-item-dashboard">
                                {% for item in rentals|slice(0,1) %}

                                <div class="item-top">
                                    <div class="col-sm-4 photo">
                                    {% image 'img/img_transaction_1.png' %}
                                            <img src="{{ asset_url }}" alt="Be Kula"  class="img-responsive"/>
                                        {% endimage %}                                       
                                    </div>
                                    <div class="col-sm-8 column-2">
                                        <p><span class="span_blue b">Rental ID:</span>
                                            <span class="span_red float_right">{{ item.id }}</span>
                                        </p>
                                        <p><span>Borrow:</span><span class="float_right">{{item.startDate |date('Y-m-d') }}</span></p>
                                        <p><span>Return:</span><span class="float_right">{{item.endDate |date('Y-m-d') }}</span></p>
                                        <p><span class="span_blue">Total:</span><span class="span_red float_right">${{(item.product.price/100) |number_format(2, '.', ',')}}/${{item.product.typeRental}}</span></p>
                                    </div>
                                </div>
                                {% endfor %}
                                 {% for item in rentals|slice(1,1) %}
                                <div class="item-bottom">
                                    <div class="col-sm-4 photo">
                                         {% image 'img/img_transaction_2.png' %}
                                            <img src="{{ asset_url }}" alt="Be Kula"  class="img-responsive"/>
                                        {% endimage %}                                        
                                    </div>
                                    <div class="col-sm-8 column-2">
                                        <p><span class="span_blue b">Rental ID:</span>
                                            <span class="span_red float_right">{{ item.id }}</span>
                                        </p>
                                        <p><span>Borrow:</span><span class="float_right">{{item.startDate |date('Y-m-d') }}</span></p>
                                        <p><span>Return:</span><span class="float_right">{{item.endDate |date('Y-m-d') }}</span></p>
                                        <p><span class="span_blue">Total:</span><span class="span_red float_right">${{(item.product.price/100) |number_format(2, '.', ',')}}/${{item.product.typeRental}}</span></p>
                                    </div>
                                </div>
                                 {% endfor %}

                                
                            </div>
                            <div class="footer-item-dashboard">
                               <!--  <div class="col-sm-6 col-xs-6" id="left-item-footer">
                                    <a href="#" data-toggle="modal" data-target="#return_alert_wrap">Return alert </a>
                                </div> -->
                                <div class="footer-item-dashboard">
                                    <a href="#" data-toggle="modal" data-target="#extend_rental" class="text-center">Extend rental</a>
                                </div>
                            </div>
                        </div> <!-- /#item-dashboard-1 -->
                        <!-- <div class="col-sm-6 col-md-4 item-dashboard" id="item-dashboard-2">
                            <div class="title-item-dashboard">
                                <h3>Gallery</h3>
                            </div>
                            <div class="content-item-dashboard">
                            {% image 'img/img_gallery_bg.png' %}
                                <img src="{{ asset_url }}" alt="Be Kula"  class="img-responsive"/>
                            {% endimage %}
                               
                            </div>
                            <div class="footer-item-dashboard">
                                <div class="col-sm-6 col-xs-6" id="left-item-footer">
                                    <a href="#">Prev </a>
                                </div>
                                <div class="col-sm-6 col-xs-6" id="right-item-footer">
                                    <a href="#">Next</a>
                                </div>
                            </div>
                        </div> --> <!-- /#item-dashboard-2 -->
                        <div class="col-sm-6 col-md-4 item-dashboard" id="item-dashboard-3">
                            <div class="title-item-dashboard">
                                <h3>My Lists</h3>
                            </div>
                            <div class="content-item-dashboard">
                                    <div class="item-dash3-subtitle"><p>Watch List</p></div>
                                    <ul class="ul-my-list">
                                        {% for  item in products | slice(0,3) %}
                                            <li class="col-sm-4 col-xs-4 item-watch-list">
                                                 <img src="{{ item.image ? item.image.path : asset('img/logo-ks.png') }}"  alt="{{ item.name }}" />
                                                <a href="{{ path('sylius_product_show',{'id': item.id })}}">Item {{ item.Id }}</a>
                                            </li>                                            
                                        {% endfor %}                                        
                                    </ul>
                                
                            </div>
                            <div class="content-item-dashboard" id="favorite-list">
                                    <div class="item-dash3-subtitle"><p>Favorite List</p></div>
                                    <ul class="ul-my-list">
                                        {% for  item in products | slice(3,5) %}
                                            <li class="col-sm-4 col-xs-4 item-watch-list">
                                                <img src="{{ item.image ? item.image.path : asset('img/logo-ks.png') }}"  alt="{{ item.name }}" />
                                                <a href="{{ path('sylius_product_show',{'id': item.id })}}">Item {{ item.Id }}</a>
                                            </li>                                            
                                        {% endfor %}
                                    </ul>
                            </div>

                        </div> <!-- /#item-dashboard-3 -->
                     
                        <div class="col-sm-6 col-md-4 item-dashboard" id="item-dashboard-5">
                            <div class="title-item-dashboard">
                                <h3>Personal account</h3>
                            </div>
                            <div class="content-item-dashboard">
                            {% image 'img/personal_account_img.png' %}
                                            <img src="{{ asset_url }}" alt="Be Kula" class="img-responsive"  id="personal_account_img" />
                                        {% endimage %}
                               
                                <div class="col-sm-12 column-2" id="account_info">
                                    <p><span class="span_blue">Member ID: &nbsp;  </span><span>{{ app.user.customer.firstname}} {{ app.user.customer.lastname}}</span></p>
                                    <p><span>Since:&nbsp;</span><span>{{ app.user.createdAt | date('d/m/Y') }}</span></p>
                                    <p><span>Followers:&nbsp;</span><span class="span_red">59&nbsp;</span>times</p>
                                    <p><span class="span_blue">Stars:&nbsp; </span><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i></p>
                                </div>
                            </div>
                            <div class="footer-item-dashboard">
                                <div class="col-sm-6 col-xs-6" id="left-item-footer">
                                    <a href="{{ path('sylius_user_security_logout') }}">Sign Out </a>
                                </div>
                                <div class="col-sm-6 col-xs-6" id="right-item-footer">
                                    <a href="{{ path('sylius_account_profile_update') }}">Edit Info</a>
                                </div>
                            </div>
                        </div> <!-- /#item-dashboard-5 -->
                        <div class="col-sm-6 col-md-4 item-dashboard" id="item-dashboard-6">
                            <div class="title-item-dashboard">
                                <h3>Payment Info</h3>
                            </div>
                            <div class="content-item-dashboard">
                                <p>Welcome: <span class="span_blue">{{ app.user.customer.firstname}} {{ app.user.customer.lastname}}</span></p>
                                <p>Payment Type: <span>Visa</span></p>
                                <p>Card Number: <span>12345678910</span></p>
                                <p>Expired Date     : <span>9/20</span></p>
                                <p>Billing Address:</p>
                                <p>{{ app.user.customer.billingStreetAddress1}}</p>
                                <p>{{ app.user.customer.city}}, {{ app.user.customer.state}}</p>
                                <p> {{ app.user.customer.postalCode}} {{ app.user.customer.country}}</p>
                            </div>
                            <div class="footer-item-dashboard">
                                
                                <a href="{{ path('sylius_account_profile_update') }}">Edit payment Info</a>
                            </div>
                        </div> <!-- /#item-dashboard-6 -->
                    
                        <div class="col-sm-6 col-md-4 item-dashboard" id="item-dashboard-8">
                            <div class="title-item-dashboard">
                                <h3>Resolution Center</h3>
                            </div>
                            <div class="content-item-dashboard">
                                <p><span class="span_blue">Have a problem?</span></p>
                                <ul class="ul-resol-center">
                                    <li><p>Didn't receive your item?</p></li>
                                    <li><p>Receive the wrong item?</p></li>
                                    <li><p>Extend your rental?</p></li>
                                </ul>

                                <div class="item-dash8-subtitle"><p>Open Cases</p></div>
                                 <table style="width:100%;text-align:center;" class="table-resol-center">
                                  <tbody><tr>
                                    <th>Case</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                  </tr>

                                {% for item in rentals|slice(0,2) %}
                                    <tr>
                                        <td>K0158</td>
                                        <td>Extend Rental</td>
                                        <td>Awaiting <br>Respond</td>
                                    </tr> 
                                {% endfor %}


                                </tbody></table> 
                            </div>
                            <div class="footer-item-dashboard">
                                <a href="#" data-toggle="modal" data-target="#report_a_problem">Report a problem</a>
                            </div>
                        </div> <!-- /#item-dashboard-8 -->
                        <div class="col-sm-6 col-md-4 item-dashboard" id="item-dashboard-9">
                            <div class="title-item-dashboard">
                                <h3>Message Center</h3>
                            </div>
                            <div class="content-item-dashboard">
                                <div class="item-dash8-subtitle"><p>Open Cases</p></div>
                                                             <table style="width:100%;" class="table-messege-center">
                                                              <tbody><tr>
                                                                <th>Date</th>
                                                                <th>From</th>
                                                                <th>Subject</th>
                                                              </tr>
                                {% for item in messages if item.userReceiver.id == app.user.id %}
                                                              <tr>
                                                                <td>{{item.createdAt |date('Y-m-d')}}</td>
                                                                <td>{{item.author.firstname}}</td>
                                                                <td>{{item.subject}}</td>
                                                              </tr>
                                 {% endfor %}                           
                                                            </tbody></table> 
                            </div>
                            <div class="footer-item-dashboard">
                               <!--  <div class="col-sm-6 col-xs-6" id="left-item-footer">
                                    <a href="#">Delete messages </a>
                                </div>
                                <div class="col-sm-6 col-xs-6" id="right-item-footer"> -->
                                <div class="footer-item-dashboard">
                                    <a href="{{path('kulashare_message_index')}}">View Inbox</a>
                                </div>
                            </div> 
                        </div> <!-- /#item-dashboard-9 -->

                        
                        
                    </div><!-- left-dashboard -->
                    <div class="col-sm-3" id="sidebard-dashboard">
                       <!-- <div class="title-item-sidebar" id="title_1"><p>Newly Available Items</p></div>
                         <div class="item-sidebar" id="item-sidebar-1">
                            <div class="sub-item-type-1 border-tlr">
                                <div class="col-sm-3" id="img_thumbnails"><a href="#">
                                    {% image 'img/img_thumb_1.png' %}
                                            <img src="{{ asset_url }}" alt="Be Kula"  />
                                        {% endimage %}
                                    </a>
                                </div>
                                <div class="col-sm-9" id="description_available"><a href="#"><p style="font-weight:bold;  font-size: 14px;">Susan’s Bike</p>
                                <p>$18/day •  touring bike</p></a></div>
                            </div>
                            <div class="sub-item-type-2 border-lr">
                                <div class="col-sm-3" id="img_thumbnails"><a href="#">
                                {% image 'img/img_thumb_2.png' %}
                                            <img src="{{ asset_url }}" alt="Be Kula"  />
                                        {% endimage %}
                              </a></div>
                                <div class="col-sm-9" id="description_available"><a href="#"><p style="font-weight:bold;  font-size: 14px;">Brian’s Power Drill</p>
                                <p>$3/hour •  hi-power dril</p></a></div>
                            </div>
                            <div class="sub-item-type-3 border-blr">
                                <div class="col-sm-3" id="img_thumbnails"><a href="#">
                                {% image 'img/img_thumb_3.png' %}
                                            <img src="{{ asset_url }}" alt="Be Kula"  />
                                        {% endimage %}
                                </a></div>
                                <div class="col-sm-9" id="description_available"><a href="#"><p style="font-weight:bold;  font-size: 14px;">Peter's Laptop</p>
                                <p>$18/day •  Macbook pro</p></a></div>
                            </div>
                        </div> --><!-- °#item-sidebar-1-->
                        <div class="title-item-sidebar" id="title_2"><p>My Borrowed Items</p></div>
                       
                        <div class="item-sidebar" id="item-sidebar-1">
                         {% for item in request|slice(0,1) %}
                            <div class="sub-item-type-1 border-tlr">
                                <p class="borrowed_item_title">{{item.product.name}}</p>
                                <p style="font-size: 10px;">Borrow : {{item.startDate |date('Y-m-d')}} &nbsp;&nbsp;&nbsp;   Return : {{item.endDate |date('Y-m-d')}}</p>
                            </div>
                        {% endfor %}
                        {% for item in request|slice(1,1) %}
                            <div class="sub-item-type-2 border-lr">
                                <p class="borrowed_item_title">{{item.product.name}}</p>
                                <p style="font-size: 10px;">Borrow : {{item.startDate |date('Y-m-d')}} &nbsp;&nbsp;&nbsp;   Return : {{item.endDate |date('Y-m-d')}}</p>
                            </div>
                            {% endfor %}
                        {% for item in request|slice(2,1) %}
                            <div class="sub-item-type-3 border-blr">
                                <p class="borrowed_item_title">{{item.product.name}}</p>
                                <p style="font-size: 10px;">Borrow : {{item.startDate |date('Y-m-d')}} &nbsp;&nbsp;&nbsp;   Return : {{item.endDate |date('Y-m-d')}}</p>
                            </div>
                        </div><!-- °#item-sidebar-1-->
                        <div class="title-item-sidebar" id="title_3"><p>My Bookmarked Items</p></div>
                        {% endfor %}
                        {% for item in rentals|slice(0,1) %}
                        <div class="item-sidebar" id="item-sidebar-1">
                            <div class="sub-item-type-1 border-tlr">
                                <p class="borrowed_item_title">{{item.product.name}}</p>
                                <p style="font-size: 10px;">Borrow : {{item.startDate |date('Y-m-d')}} &nbsp;&nbsp;&nbsp;   Return : {{item.endDate |date('Y-m-d')}}</p>
                            </div>
                            {% endfor %}
                        {% for item in rentals|slice(1,1) %}
                            <div class="sub-item-type-2 border-lr">
                                <p class="borrowed_item_title">{{item.product.name}}</p>
                                <p style="font-size: 10px;">Borrow : {{item.startDate |date('Y-m-d')}} &nbsp;&nbsp;&nbsp;   Return :{{item.endDate |date('Y-m-d')}}</p>
                            </div>
                            {% endfor %}
                        {% for item in rentals|slice(2,1) %}
                            <div class="sub-item-type-3 border-blr">
                                <p class="borrowed_item_title">{{item.product.name}}</p>
                                <p style="font-size: 10px;">Borrow :{{item.startDate |date('Y-m-d')}} &nbsp;&nbsp;&nbsp;   Return : {{item.endDate |date('Y-m-d')}}</p>
                            </div>
                        {% endfor %}
                        </div><!-- °#item-sidebar-1-->
                       <!-- <div class="title-item-sidebar" id="title_4"><p>My Favorite Lenders</p></div>
                        <div class="item-sidebar" id="item-sidebar-1">
                            <div class="sub-item-type-1 border-tlr">
                                <div class="col-sm-3" id="img_thumbnails"><a href="#">
                                    {% image 'img/member_1_thumbnail.png' %}
                                            <img src="{{ asset_url }}" alt="Be Kula"  />
                                        {% endimage %}
                                        </a></div>
                                                            <div class="col-sm-9" id="landers"><a href="#"><p style="font-weight:bold;  font-size: 14px;">Susan York</p>
                                                            <p><span>Lend:&nbsp;</span><span class="span_red">59&nbsp;</span>times <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i></p></a></div>
                            </div>
                            <div class="sub-item-type-2 border-blr">
                                <div class="col-sm-3" id="img_thumbnails"><a href="#">
                                     {% image 'img/member_2_thumbnail.png' %}
                                            <img src="{{ asset_url }}" alt="Be Kula"  />
                                        {% endimage %}
                                </a></div>
                                                            <div class="col-sm-9" id="landers"><a href="#"><p style="font-weight:bold;  font-size: 14px;">Sarah Smith</p>
                                                        <p><span>Lend:&nbsp;</span><span class="span_red">19&nbsp;</span>times <i class="glyphicon glyphicon-star"></i> <i class="glyphicon glyphicon-star"></i></p></a></div>
                            </div>

                        </div>--><!-- °#item-sidebar-1-->
                    </div> <!-- sidebard-dashboard -->
                </div>
        
    </div>


    <!-- Modal TRANSACTIONS Return alert-->
    <div id="return_alert_wrap" class="modal fade" role="dialog">
      <div class="modal-dialog" style="max-width:350px;">
      <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Transactions: Return Alert</h4>
      </div>
      <div class="modal-body">
        <div  class="alert alert-success" id="response_form_alert" style="display:none">
        </div>
        <form  method="POST" role="form" class="form-inline return_alert">           
            <div class="form-group">
                {# <label for="">label</label> #}
                <input type="text" name="id_rental" placeholder="Rental ID" id="id_rental" class="form-control" value="">
            </div>
            <button type="submit" id="return_alert_submit" class="btn btn-info">Return Alert</button>
        </form>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </div>

      </div>
    </div>
    

    {# --------------------------------------------------------------------------- #}
    {# --------------------------------------------------------------------------- #}
    {# --------------------------------------------------------------------------- #}        

    <!-- Modal TRANSACTIONS Extend rental-->
    <div id="extend_rental" class="modal fade" role="dialog">
      <div class="modal-dialog"  style="max-width:565px;">
      <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Transactions: Extend Rental</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-success" id="response-extend-form" style="display:none;">
        </div>
        <form method="POST" role="form" id="extend_rental_form" class="form-inline extend_rental">           
            <div class="form-group">
                {# <label for="">label</label> #}
                <input type="text" name="id_rental" placeholder="Rental ID" id="id_rental" class="form-control" value="">
            </div>
            <div class="form-group">
                <div class="input-group date">
                    <input type="text" maxlength="10" readonly='true'   placeholder="mm/dd/yyyy" class="form-control date_extend_rental" name="extend_date"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>               
                </div>
            </div>
            <button type="submit" id="extend_rental_submit" class="btn btn-info">Extend Rental</button>
        </form>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </div>

      </div>
    </div>


    {# CALENDAR #}

        {% stylesheets 'js/themes/base/jquery-ui.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
       
        {%  javascripts 
            'js/ui/jquery.ui.core.js'
            'js/ui/jquery.ui.widget.js'
            'js/ui/jquery.ui.datepicker.js'
        %}

            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

    {# end CALENDAR #}

    <script>
                            
                
            
                $(document).ready(function() {  
                            $('.date_extend_rental').datepicker('setDate', 'today');

                            $( ".date_extend_rental" ).datepicker({
                                changeMonth: true,
                                changeYear: true,
                                numberOfMonths: 2,
                                showButtonPanel: true
                            });

                            $('#extend_rental_form').submit(function(e){ 
                                e.preventDefault();
                                $.ajax({
                                    type: "POST",
                                    url: "{{path('kulashare_extend_rental')}}",
                                    data: $('form.extend_rental').serialize(),
                                }).success(function( msg ) {
                                    $("#response-extend-form").html(msg); 
                                    $('#response-extend-form').toggle( "slow" );
                                });

                            })
                            $('form.return_alert').submit(function(e){ 
                                e.preventDefault();
                                $.ajax({
                                    type: "POST",
                                     url: "{{path('alert_notification')}}",
                                    data: $('form.return_alert').serialize(),
                                    }).success(function( msg ) { 
                                        $("#response_form_alert").html(msg);
                                        $('#response_form_alert').toggle( "slow" );
                                    
                                });
                            })        
                });
       
    </script>


    {# --------------------------------------------------------------------------- #}
    {# --------------------------------------------------------------------------- #}
    {# --------------------------------------------------------------------------- #}


    <!-- Modal RESOLUTION CENTER Report a Problem-->
    <div id="report_a_problem" class="modal fade" role="dialog">
      <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Resolution Center: Report a Problem</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-success" style="display:none">
            <strong>Success!</strong> The Problem has been sent.
        </div>
        <form method="POST" role="form" class="report_problem">           
            <div class="form-group">
                {# <label for="">label</label> #}
                <input type="text" name="id_rental" id="id_rental" class="form-control" value="">
                <select name="" id="input" class="form-control">
                    <option value="">-- Select One --</option>
                </select>
                <textarea name="" id="input" class="form-control" rows="3" required="required"></textarea>
            </div>
            <button type="submit" class="btn btn-block btn_request_rental">Report a Problem</button>
        </form>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </div>

      </div>
    </div>
    <script>
            jQuery(function () {                
                $('form.report_problem').on('submit', function (e) {
                  e.preventDefault();
                        $.ajax({
                            type: "POST",
                            // url: "/index.php",
                            data: $(this).serialize(),
                            success: function (data) {
                                $(this).parent().find('.alert-success').toggle( "slow" );
                            }
                        });
                });

                // jQuery('.table-resol-center tr').each(function(){
                //     $(this).find('*').not('th').each(function() {
                //         //alert($(this).contents());
                //         //$(this).replaceWith(content);
                //     });
                // })
            });
    </script>


{% endblock%}
