<div class="in-sec9">
            <div class="in-sec">
                <div class="in-titlew1">
                {% image 'img/title-light1.png' %}
                    <img src="{{ asset_url }}" alt="Be Kula"/>
                {% endimage %}
                    
                </div>
                <div class="in-titlew2">
                {% image 'img/movement.png' %}
                    <img src="{{ asset_url }}" alt="Be Kula"/>
                {% endimage %}
                   
                </div>
                <div class="in-inputcont">
                    <input type="text" autocomplete="off" value="" placeholder="First Name" class="in-field">
                    <input type="text" autocomplete="off" value="" placeholder="Email Address" class="in-field">
                    <input type="submit" value="SIGN UP" class="in-submit">
                </div>
            </div>
        </div>

        <div class="in-sec10">
            <div class="in-sec hidden-xs">
                <div class="in-lastsec col-lg-3 col-sm-3">
                    <h3>Connect</h3>
                    <div class="in-iconcont">
                        <a href="#" alt="twitter">{% image 'img/icon1.png' %}
                    <img src="{{ asset_url }}" alt="icon 1"/>
                {% endimage %}</a>
                        <a href="#" alt="facebook">{% image 'img/icon2.png' %}
                    <img src="{{ asset_url }}" alt="icon 2"/>
                {% endimage %}</a>
                        <a href="#" alt="linkedin">{% image 'img/icon3.png' %}
                    <img src="{{ asset_url }}" alt="icon 3"/>
                {% endimage %}</a>
                        <a href="#" alt="instagram">{% image 'img/icon4.png' %}
                    <img src="{{ asset_url }}" alt="icon 4"/>
                {% endimage %}</a>
                        <a href="#" alt="youtube">{% image 'img/icon5.png' %}
                    <img src="{{ asset_url }}" alt="icon 5"/>
                {% endimage %}</a>
                        <a href="#" alt="google">{% image 'img/icon6.png' %}
                    <img src="{{ asset_url }}" alt="icon 6"/>
                {% endimage %}</a>
                    </div>
                </div>
                <div class="in-lastsec col-lg-9 col-sm-9">
                    <div class="in-lastcol col-lg-3 col-sm-3">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Mission</a></li>
                            <li><a href="#">Vision</a></li>
                            <li><a href="#">Team Kula</a></li>
                            <li><a href="#">Terms / Privacy</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                    <div class="in-lastcol col-lg-3 col-sm-3">
                        <h3>Learn</h3>
                        <ul>
                            <li><a href="#">How it works</a></li>
                            <li><a href="#">Tutorials</a></li>
                            <li><a href="#">Media Center</a></li>
                            <li><a href="#">Kulaforum</a></li>
                        </ul>
                    </div>
                    <div class="in-lastcol col-lg-3 col-sm-3">
                        <h3>Updates</h3>
                        <ul>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Newsletter</a></li>
                            <li><a href="#">Latest</a></li>
                            <li><a href="#">Articles</a></li>
                        </ul>
                    </div>
                    <div class="in-lastcol col-lg-3 col-sm-3">
                        <h3>Find us</h3>
                        <ul>
                            <li><a href="#">Email</a></li>
                            <li><a href="#">Feedback</a></li>
                            <li><a href="#">Address</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="in-sec in-sec10b visible-xs">
                <div class="in-lastcol">
                    <div class="in-lastsec col-xs-6">
                        <h3>Connect</h3>
                        <div class="in-iconcont">
                            <a href="#" alt="twitter"><img src="../img/icon1.png"></a>
                            <a href="#" alt="facebook"><img src="../img/icon2.png"></a>
                            <a href="#" alt="linkedin"><img src="../img/icon3.png"></a>
                            <a href="#" alt="instagram"><img src="../img/icon4.png"></a>
                            <a href="#" alt="youtube"><img src="../img/icon5.png"></a>
                            <a href="#" alt="google"><img src="../img/icon6.png"></a>
                        </div>
                    </div>
                    <div class="in-lastsec col-xs-6">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Mission</a></li>
                            <li><a href="#">Vision</a></li>
                            <li><a href="#">Team Kula</a></li>
                            <li><a href="#">Terms / Privacy</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                    <div class="in-lastsec col-xs-6">
                        <h3>Learn</h3>
                        <ul>
                            <li><a href="#">How it works</a></li>
                            <li><a href="#">Tutorials</a></li>
                            <li><a href="#">Media Center</a></li>
                            <li><a href="#">Kulaforum</a></li>
                        </ul>
                    </div>
                    <div class="in-lastsec col-xs-6">
                        <h3>Updates</h3>
                        <ul>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Newsletter</a></li>
                            <li><a href="#">Latest</a></li>
                            <li><a href="#">Articles</a></li>
                        </ul>
                    </div>
                    <div class="in-lastsec col-xs-6">
                        <h3>Find us</h3>
                        <ul>
                            <li><a href="#">Email</a></li>
                            <li><a href="#">Feedback</a></li>
                            <li><a href="#">Address</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <p class="hidden-xs">© 2015  <a href="#" class="in-flink">kulashare™</a>  All rights reserved  |  <a href="#" class="in-flink">Privacy Policy</a>  | <a href="#" class="in-flink">Terms of Use</a>  |  powered by <a href="#" class="in-flink">enfusionize™</a></p>
            <p class="visible-xs">© 2015  <a href="#" class="in-flink">kulashare™</a><br>All rights reserved  |<a href="#" class="in-flink">Privacy Policy</a>  |  <a href="#" class="in-flink">Terms of Use<br></a>powered by <a href="#" class="in-flink">enfusionize™</a></p>
        </div>