{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}
{% block javascripts %}		
	<script>
		$(".item-lt").hover(function () {
		    $(this).toggleClass("selected-item");
		});	
	</script>
{% endblock %}
{% block body %}    
    <body class="page-id-1 socialr" id="product-listing">
    {% endblock %}
{% block content %}
	<!-- region filter-->
	<div class="container" id="storefront">
	<div class="col-sm-4" id="product-listing-sidebar-left">

					<div class="title-dashboard">
						<h3>Refine Search</h3>
					</div>

					<div id="section-1" class="sidebar-left-section">
							<p id="title-ul-category">Category</p>
							<ul class="cont-ul-category">
							<style>
							.cont-ul-category { list-style:none;}
							</style>
								<!-- Category item -->
								{% for  item in categories  %}
								{% for subitem in item.taxons %}
											<li>												
												 <a href="{{ path('kulashare_product_filter_category', {'categoryId': subitem.id}) }}"> 
												  	{% if subitem.path != "" %}
													<img style="height: 25px; width:25px;margin-right:5px;" src="{{ asset('media/image/' ~ subitem.path) }}" alt="Icon" />				  
													{% else %}
														<img style="height: 25px; width:25px;margin-right:5px;" src="{{ asset('img/noimage.png') }}" alt="No Icon" />
													{%endif%}
												  	<span>{{ subitem.name }}  </span>
												 </a> 
											</li>
										{% endfor %}
								{% endfor %}
								
							</ul>
					</div>  <!-- /#section-1 -->
				
<form method="GET" action="{{path('kulashare_product_filter')}}" class="form-horizontal" role="form">
					<div id="section-2" class="sidebar-left-section">
						<p id="title-section-2">Distance</p>
						<p class="sidebar-grey-text">From my location</p>
						<div class="radio">
						  <label>
						    <input type="radio" name="options" id="options_1" value="option_1" checked="">
						   <p> Less than 1 mile</p>
						  </label>
						</div>
						<div class="radio">
						  <label>
						    <input type="radio" name="options" id="options_2" value="option_2">
						  	 <p> 1 mile or more</p>
						  </label>
						  <input type="hidden" name="lat" value="0.0000">
						  <input type="hidden" name="lon" value="0.0000">
						</div>
						
					</div><!-- /#section-2 -->
				
					<div id="section-3" class="sidebar-left-section">
						<p id="title-section-3">Price Range</p>

						<div class="from-to-price">
							
								<div class="form-group">
									<label class="col-md-2 control-label" for="inputKey">From $</label>
									<div class="col-md-4 cont-input-from-to">
										<input type="text" id="inputKey" name="minPrice" class="form-control">
									</div>
									<label class="col-md-2 control-label" for="inputValue">To $</label>
									<div class="col-md-4 cont-input-from-to">
										<input type="text" id="inputValue" name="maxPrice" class="form-control">
									</div>

								</div>
							
						</div>

						<!--	<p id="title-section-3">Quantity</p>
							<div class="choose">
								<li class="dropdown">
								        <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
								         1 piece <b class="caret"></b>
								        </a>
								        <ul class="dropdown-menu">
								          <li><a href="#">Action #1</a></li>
								          <li><a href="#">Action #2</a></li>
								          <li><a href="#">Action #3</a></li>
								          <li class="divider"></li>
								          <li><a href="#">Action #4</a></li>
								          <li class="divider"></li>
								          <li><a href="#">Action #5</a></li>
								        </ul>
								      </li>
							</div>

							<p id="title-section-3">Available</p>
							<div class="choose">
								<li class="dropdown">
								        <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
								         1 day <b class="caret"></b>
								        </a>
								        <ul class="dropdown-menu">
								          <li><a href="#">Action #1</a></li>
								          <li><a href="#">Action #2</a></li>
								          <li><a href="#">Action #3</a></li>
								          <li class="divider"></li>
								          <li><a href="#">Action #4</a></li>
								          <li class="divider"></li>
								          <li><a href="#">Action #5</a></li>
								        </ul>
								      </li>
							</div>  -->
					</div><!-- /#section-3 -->
				
					<div id="section-4" class="sidebar-left-section">
					<!--	<label class="checkbox">
						  <input type="checkbox" id="checkboxEnLinea1" value="opcion_1"> Free Delivery
						</label>
						<label class="checkbox">
						  <input type="checkbox" id="checkboxEnLinea1" value="opcion_1"> Includes Operator
						</label>-->
						<div class="form-group">
					    <div class="col-sm-offset-2 col-sm-4">
					    <button class="btn btn-info" type="submit">SEARCH</button>
					</div>
					</div>
					</div><!-- /#section-4 -->
				</div>

			</form>
	<!-- product list-->
	<div class="col-sm-8" id="product-listing-dashboard">
		<div class="col-sm-12 col-xs-12 search_items_form">
			<form method="GET" action="{{path('kulashare_product_search')}}">
				<div class="input-group">
					<input type="hidden" name="search_param" value="all" id="search_param">         
					<input type="text" class="form-control" name="search" placeholder="Recent items near Phoenix, Arizona">
					<div class="input-group-btn search-panel">
						<select class="btn btn_drop_category dropdown-toggle" name="category"> 
							<option value="all"> All Category </option>
						{% for subitem in categoriesSelect %}
							<option value="{{subitem.id}}"> {{ subitem.name }} </option>
						{% endfor %}
						</select>
						
					</div>
					<span class="input-group-btn search-panel">
					    <button type="submit" class="btn btn_search_item"><span>SEARCH</span></button>
					</span>
				</div>
			</form>
		</div>

		<div class="item-container col-xs-12">
			<!-- Product item -->
			{% for  item in products  %}
			<div class="item-lt col-sm-3 col-xs-12">
				<div class="item-lt-imagen">
					{% image 'img/img_gallery_bg.png' %}
                    	<img src="{{ asset_url }}" class="img-responsive" alt="Kulashare"/>
                    {% endimage %}					
				</div>
				<div class="item-lt-description">
				<a href="{{ path('kulashare_product_show', {'id': item.id}) }}"><p class="title">{{item.name}}</p></a>
					<p class="price"> ${{(item.price/100) |number_format(2, '.', ',')}}/{{item.typeRental}}</p>
					<p class="short-desc">{{item.shortDescription}}</p>
					<p class="distance"><i class="glyphicon glyphicon-map-marker"></i> Less than 1 mile · Arizona</p>
				</div>
				<div class="item-lt-footer">
					<div class="col-sm-3 img-profile">
						{% image 'img/member_2.png' %}
	                    	<img src="{{ asset_url }}"  alt="Kulashare"/>
	                    {% endimage %}							
					</div>
					<div class="col-sm-6 name-profile">
						<p>{{item.userCreated.customer.firstname}} {{item.userCreated.customer.lastname}} </p><p><span class="sp_lender">lender <span class="sp_number_red">35</span> times</span></p>
						
					</div>
					<div class="col-sm-3 search-button">
					<a href="{{path('kulashare_product_lender', {'lender' : item.userCreated.customer.id})}}"	<span class="btn btn-see-all">See All</span></a>
					</div>
				</div>
			</div>
			{% endfor %}
			<div class="col-sm-12 col-xs-12 load_more_products_container">
				<button class="btn btn-block button-load-items" type="button"> <i class="glyphicon glyphicon-repeat"></i> Load More Items..</button>
			</div>
		</div>
	</div>
	</div>
{% endblock %}


