{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}
{% block content %}
<div id="slider-wrapper">
			<div style="width:100%; height:250px;  visibility: visible;" id="layerslider" class="">
			<div class="ls-slide" data-ls="slidedelay: 7000; transition2d: 1,2,3; " >
				<img src="{{ asset('img/socialr_banner_bg.png') }}" class="ls-bg" id="bg-mission" alt="Slide background" />
				 <div class="content-wheel" class="ls-l" style="">
					<img class="ls-l" style="top:33% ;left:56%;white-space: nowrap;" data-ls="offsetxin:-100;delayin:800;easingin:easeInOutCubic;rotatein:-180;offsetxout:300;durationout:1000;easingout:easeInOutCubic;rotateout:360;" src="{{ asset('img/wheel_trust.png') }}" alt="">
					<img class="ls-l" style="top:28%;left:40%;white-space: nowrap;" data-ls="offsetxin:-200;delayin:1200;easingin:easeInOutCubic;rotatein:-270;offsetxout:200;durationout:1000;easingout:easeInOutCubic;rotateout:270;" src="{{ asset('img/wheel_community.png') }}" alt="">
					<img class="ls-l" style="top:40%;left:63%;white-space: nowrap;" data-ls="offsetxin:-300;delayin:1600;easingin:easeInOutCubic;rotatein:-360;offsetxout:100;durationout:1000;easingout:easeInOutCubic;rotateout:180;" src="{{ asset('img/wheel_goals.png') }}" alt="">
					<img class="ls-l" style="top:71%;left:57%;white-space: nowrap;" data-ls="offsetxin:-300;delayin:2000;easingin:easeInOutCubic;rotatein:-360;offsetxout:100;durationout:1000;easingout:easeInOutCubic;rotateout:180;" src="{{ asset('img/wheel_social.png') }}" alt="">
					<img class="ls-l" style="top:50%;left:48%;white-space: nowrap;" data-ls="offsetxin:-300;delayin:2400;easingin:easeInOutCubic;rotatein:-360;offsetxout:100;durationout:1000;easingout:easeInOutCubic;rotateout:180;" src="{{ asset('img/wheel_sharing.png') }}" alt="">
						 			     	 	
					<img class="ls-l" id="img_banner_hand" style="top:68%;left:36%;"  data-ls="durationin:2000;delayin:3000;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;" src="{{ asset('img/banner_hand.png') }}"  >
				</div>
			
			</div>
			
			<div class="ls-slide" data-ls="slidedelay: 7000; transition3d: 28,55,50; " >
				<img src="{{ asset('img/socialr_banner_bg.png') }}" class="ls-bg" id="bg-mission" alt="Slide background" />
				 <div class="content-wheel" class="ls-l" style="">
					<img class="ls-l" style="top:33% ;left:56%;white-space: nowrap;" data-ls="offsetxin:-100;delayin:800;easingin:easeInOutCubic;rotatein:-180;offsetxout:300;durationout:1000;easingout:easeInOutCubic;rotateout:360;" src="{{ asset('img/wheel_trust.png') }}" alt="">
					<img class="ls-l" style="top:28%;left:40%;white-space: nowrap;" data-ls="offsetxin:-200;delayin:1200;easingin:easeInOutCubic;rotatein:-270;offsetxout:200;durationout:1000;easingout:easeInOutCubic;rotateout:270;" src="{{ asset('img/wheel_community.png') }}" alt="">
					<img class="ls-l" style="top:40%;left:63%;white-space: nowrap;" data-ls="offsetxin:-300;delayin:1600;easingin:easeInOutCubic;rotatein:-360;offsetxout:100;durationout:1000;easingout:easeInOutCubic;rotateout:180;" src="{{ asset('img/wheel_goals.png') }}" alt="">
					<img class="ls-l" style="top:71%;left:57%;white-space: nowrap;" data-ls="offsetxin:-300;delayin:2000;easingin:easeInOutCubic;rotatein:-360;offsetxout:100;durationout:1000;easingout:easeInOutCubic;rotateout:180;" src="{{ asset('img/wheel_social.png') }}" alt="">
					<img class="ls-l" style="top:50%;left:48%;white-space: nowrap;" data-ls="offsetxin:-300;delayin:2400;easingin:easeInOutCubic;rotatein:-360;offsetxout:100;durationout:1000;easingout:easeInOutCubic;rotateout:180;" src="{{ asset('img/wheel_sharing.png') }}" alt="">
					<img class="ls-l"  id="img_banner_hand" style="top:68%;left:36%;"  data-ls="durationin:2000;delayin:3000;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;" src="{{ asset('img/banner_hand.png') }}"  >
				</div>
			
			</div>




			</div>
				
				
				
				
			
		</div> <!-- slide-wrapper -->

		<div class="in-sec8">
			<div class="in-sec">
				<div class="in-commblock hidden-xs">
					<div class="in-commh1">
						<h1>Our Mission and Vision</h1>
					</div>

				</div>
				<div class="visible-xs in-commblock-xs">
					<div class="in-commh1 in-commh1b">
						<h1>Our Mission and Vision</h1>
					</div>
				</div>

				<p class="line-blue text-center">______________________________________</p>
				
				<p class="subtitle_mission">Mission</p>
				<p>
Our mission is to provide an online platform that supports proactive social entrepreneurs. It provides anyone with a bank account and credit or debit card an opportunity to lend and borrow resources easily in their locale to support building, strengthening, developing and empowerment of communities.  </p>
				<p>
					<a href="//kulashare.com" class="in-flink">kulashare&trade;</a>. is a supportive force in the emergent sharing economy.  We support livelihoods by enabling individuals to build a community-based, social network that enhances daily life, increases the possibilities for making and saving money, perhaps saves time in the process, and expands the resources available to everyone.  
				</p>

				<p class="subtitle_mission">Vision</p>
				<p>
					Our ultimate goal is to benefit society.  We created <a href="#" class="in-flink">kulashare&trade;</a> as a platform to nurture social entrepreneurs -- and teach people how to use tools and equipment AND how to master the sharing economy. When enough people become social entrepreneurs, we, collectively, become an empowered community in service to one another.  The community can then start to expand its choices and people can begin to claim their financial independence from large corporations. 

				</p>

		
				<p>
					As we increase economic opportunities for all, we will Increase the financial strength of the middle class and make the world a better place.

				</p>
				<p class="subtitle_mission">Purpose</p>
				<p>
					<a href="//kulashare.com" class="in-flink">kulashare™ </a>is a platform to empower people, engender trust and safety, facilitate transactions, and create a movement to enhance everyone’s ability to provide for themselves and each other so that people... don’t have to be beholden to corporations for (...can choose or even create their own) jobs, benefits, and resources.  

				</p>

				<p>
					
We pledge to build a better, bigger world, one transaction at a time. <a href="#" class="in-flink"> kulashare™ </a> will also be a vital and creative source for positive news, content and media.
				</p>
					<p class="subtitle_mission">Values and Beliefs</p>
				<p>
					We believe in our ideas and in our concepts and bringing them to the community. The Sharing Economy will work if people are willing to be authentic and honest.  You have to want to be able to work with people on a peer to peer basis. When you step into your role as an honest participant in a peer-to-peer marketplace, we can build a better, bigger world, one transaction at a time.  
				</p>
				<p>
					We will do that because we are not profit-driven; we are not greedy; we support an atmosphere and environment where people work with one another in trust and safety; and therein lies the true power to shift the way we live our lives. 

				</p>	
				<p>
					
Claim the independence of your community to provide for itself. Be part of a network that has your back. Join the Movement:  We are the sharing economy.
				</p> 

				<p id="sub-center">
					Share Value with a Community Built on Trust… 
Engage with new people with whom you share and trust
Meet new people and build new trusted relationships
				</p>
			</div>
		</div>
		<script type="text/javascript">
 
    // Running the code when the document is ready
    $(document).ready(function(){
 
        // Calling LayerSlider on the target element
        $('#layerslider').layerSlider({
        	skin : 'fullwidth',
 			pauseOnHover: false,
 			responsive : false,
 			responsiveUnder : 960
            // Slider options goes here,
            // please check the 'List of slider options' section in the documentation
        });
    });

		
</script>
{% endblock %}
